<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

  <display-name>ABC News Website</display-name>

  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.abcnews.controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/trang-chu</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>com.abcnews.controller.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/quan-ly-tin/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>com.abcnews.controller.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/quan-ly-loai-tin/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.abcnews.controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/quan-ly-nguoi-dung/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>NewsletterServlet</servlet-name>
    <servlet-class>com.abcnews.controller.NewsletterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsletterServlet</servlet-name>
    <url-pattern>/newsletter/*</url-pattern>
  </servlet-mapping>


</web-app>

